
@keyframes load {
    0%, 50%, 100% {transform: scale(.85);}
    25%, 75% {transform: scale(1);}
}

.load div{
    background-image: url(/assets/icons/cheque.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    animation: load infinite .8s  ease-in-out;
}

.load{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-muyclaro);
    z-index: 500000;
}

.load p{
    color: var(--color-mediooscuro);
    margin: 20px;
    font-size: 1.25rem;
    font-weight: 500;
}